[Unit]
Description=GPS Tracker TCP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kacpermarciniak1998
WorkingDirectory=/home/kacpermarciniak1998/gps-server

ExecStart=/home/kacpermarciniak1998/gps-server/.venv/bin/python3 /home/kacpermarciniak1998/gps-server/run_server.py
Restart=always
RestartSec=3
KillSignal=SIGTERM
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
